@import url('https://fonts.googleapis.com/css?family=Raleway');

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Raleway, sans-serif;
  height: 100%;
  background-color: mediumturquoise;
  background-image: url(images/path.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

}
:link, :visited, :hover, :active {
  color: inherit;
}
a {
  color: cadetblue;
  text-decoration: none;
  font-weight: bold;
}

section {
  background-color: rgba(255, 255, 255, .8);
  margin: 0;
  padding: 0;
  min-height: calc(100% - 4em);
}

nav {
  position: fixed;
  top: 1em;
  right: 1em;
  width: 3em;
  height: 3em;
  background-color: rgba(255, 255, 255, .8);
  box-shadow: .5em .2em .5em rgba(0, 0, 0, .3);
}

nav:before {
  display: block;
  content: '=';
}

nav a {
  display: none;
  padding: 1em;
  color: black;
  text-align: center;
}

.selected {
  color: cadetblue;
}

@media (min-width: 640px) {
  body {
    padding-top: 4em; /* create space for the nav */
  }
  section {
    background-clip: content-box;
    margin: 15%;
    padding: 0;
    padding-top: 4em;
    margin-top: -4em;
  }

  section > * {
    margin: 1em;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  nav:before {
    display: none;
  }
  nav a {
    display: inline-block;
  }
}
